/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
html, 
body {
  min-height: 100vh;
  background-color: black;
  color: #FFDF19;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar{
  display: none;
  width: 0 !important;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  margin: 43px 0;
}

/* GRID */
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 660px;
}
@media(max-width: 680px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* CARDS */
li {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 3px solid #353535;
  text-align: center;
  transition: border-color .2s ease-in-out;
}
li:hover {
  border-color: #afafaf;
  color: white;
  cursor: pointer;
}

/* ROLLOVER MENU POSITIONS: DOWN */
li.rollover:hover .rollover-menu {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}
li.rollover::after {
  content: url(../assets/plus-circle.svg);
  position: absolute;
  right: 12px;
  top: 12px;
}
li:nth-child(2n+2).rollover:hover .rollover-menu {
  left: calc(-100% - 29px);
}
li:nth-child(3n+3).rollover:hover .rollover-menu {
  left: calc(-200% - 55px);
}
li:nth-child(4n+4).rollover:hover .rollover-menu {
  left: calc(-300% - 81px);
}
li:nth-child(6).rollover:hover .rollover-menu {
  left: calc(-100% - 29px);
}
li:nth-child(7).rollover:hover .rollover-menu {
  left: calc(-200% - 55px);
}
@media(max-width: 680px) {
  li:nth-child(odd).rollover:hover .rollover-menu {
    left: -3px;
  }
  li:nth-child(even).rollover:hover .rollover-menu {
    left: calc(-100% - 29px);
  }
}

/* ROLLOVER MENU POSITIONS: UP */
li:nth-child(9).rollover:hover .rollover-menu {
  top: calc(-150% + 23px);
  left: -3px;
}
li:nth-child(12).rollover:hover .rollover-menu {
  top: calc(-150% + 23px);
}
li:nth-child(13).rollover:hover .rollover-menu {
  top: calc(-150% + 23px);
}
li:nth-child(14).rollover:hover .rollover-menu {
  top: calc(-150% + 23px);
}
li:nth-child(15).rollover:hover .rollover-menu {
  top: calc(-250% - 3px);
}
@media(max-width: 680px) {
  li:nth-child(9).rollover:hover .rollover-menu {
    top: calc(-250% - 3px);
    left: -3px;
  }
  li:nth-child(12).rollover:hover .rollover-menu {
    top: calc(-250% - 3px);
  }
  li:nth-child(13).rollover:hover .rollover-menu {
    top: calc(-250% - 3px);
  }
  li:nth-child(14).rollover:hover .rollover-menu {
    top: calc(-130% - 6px);
  }
  li:nth-child(15).rollover:hover .rollover-menu {
    top: calc(-500% + 17px);
  }
}

/* CARD INTERIORS */
a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
  color: inherit;
  padding: 26px 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a img {
  display: block;
  margin: 0 auto auto;
  height: 100%;
  max-width: 85px;
  max-height: 63px;
}
a p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* ROLLOVER MENUS */
.rollover-menu {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  transition: opacity .2s ease-in-out;
  background-color: rgba(0, 0, 0, .75);
  z-index: 2;
  position: absolute;
  top: calc(100% + 3px);
  left: -3px;
  min-height: calc(100% + 46px);
  justify-content: center;
  align-items: center;
  min-width: 660px;
  padding: 20px 0;
}
@media(max-width: 680px) {
  .rollover-menu {
    min-width: 320px;
  }
}

/* ROLLOVER MENU CARDS */
.rollover-menu li {
  border-color: #afafaf;
  background-color: black;
  width: 150px;
  height: 150px;
}
.rollover-menu p {
  color: white;
  line-height:140%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  font-size: 14px;
  max-width:  100px;
}