/* POPPPINS BOLD */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* BODY */
html, 
body {
  min-height: 100vh;
  background-color: black;
  color: #FFDF19;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.1;
}


/* MAIN STYLES */
header {
  display: flex;
  justify-content: center;
  margin: 43px 0;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  row-gap: 20px;
  max-width: 640px;
}

li {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  border: 3px solid #353535;
  text-align: center;
  transition: border-color .2s ease-in-out;
}
li:hover {
  border-color: white;
  cursor: pointer;
}
li.rollover:hover .rollover-menu {
  display: flex;
  opacity: 1;
}
li.rollover::after {
  content: url(../assets/plus-circle.svg);
  position: absolute;
  right: 12px;
  top: 12px;
}

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
  color: inherit;
  padding: 26px 0 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a img {
  display: block;
  margin: 0 auto auto;
  height: 100%;
  max-width: 85px;
  max-height: 63px;
}
a p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.rollover-menu {
  /* display: flex; */
  flex-wrap: wrap;
  transition: opacity .2s ease-in-out;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, .9);
  background-color: salmon;
  z-index: 2;
  position: absolute;
  top: calc(100% + 3px);
  left: -6px;
  min-height: calc(100% + 46px);
  justify-content: center;
  align-items: center;
  min-width: 640px;
  padding: 20px 0;

}
.rollover-menu li {
  border-color: white;
  background-color: black;
  width: 150px;
  height: 150px;

}


/*  TODO LIST

- make mobile responsive down to 2 columns
- create roll over popups
- insert correct links for each box

*/